:host{
  display: block;
  margin-top: 1rem;
}
.info-text{
  text-align: center;
}
mat-spinner{
  margin:auto;
}
.quote-image{
  height:200px;
}
.quote-image img{
  height: 100%;
  box-shadow: 10px 5px 5px rgb(205, 170, 227,0.5);
}
mat-paginator{
  margin-top: 1rem;
}
